h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 800;
}
p {
  color: #555;
}
.case {
  width: 85%;
  margin: 5rem auto;
}

.case > .overview {
  display: flex;
  background-color: #f9f5ff;
  padding: 1% 5%;
}

.case > .overview > .req {
  width: 50%;
}
.case > .overview > .req h2 {
  margin: 2rem 0;
}
.case > .overview > .req p {
  margin: 0.5rem 0;
}

.case > .overview > .partner {
  width: 50%;
}
.case > .overview > .partner h2 {
  margin: 2rem 0;
}
.case > .overview > .partner p {
  margin: 0.5rem 0;
  margin-bottom: 2rem;
}
.case > .overview > .partner a img {
  width: 90%;
}

.case > .parts {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.case > .parts > .left {
  width: 79%;
}
.case > .parts > .left img {
  width: 100%;
  margin-top: 2rem;
}
.case > .parts > .left h1 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
}
.case > .parts > .left > .review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.case > .parts > .left > .review h2 {
  font-style: italic;
  width: 90%;
  margin-bottom: 1rem;
}
.case > .parts > .left > .colour {
  padding: 1% 5%;
  border-left: 5px solid hsl(265, 68%, 54%);
  margin: 2rem 0;
}
.case > .parts > .left > .colour p {
  font-size: 1.5rem;
  color: hsl(265, 68%, 54%);
}

.case > .parts > .middle {
  background-color: #999;
  width: 0.1%;
  margin: 2rem 0 0 0;
}

.case > .parts > .right {
  width: 20%;
  padding-left: 0.5rem;
}

.case > .parts > .right img {
  width: 100%;
  margin-top: 2rem;
}
.case > .parts > .right > .client {
  font-size: 0.6rem;
}
.case > .parts > .right h4 {
  margin: 0.5rem 0;
}
.case > .parts > .right p {
  margin: 1rem 0;
}
.case > .parts > .right i {
  color: hsl(265, 68%, 54%);
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .case {
    width: 95%;
  }
  .case > .overview {
    flex-direction: column;
  }
  .case > .overview > .req {
    width: 100%;
  }
  .case > .overview > .partner {
    width: 100%;
  }
  .case > .parts {
    flex-direction: column;
  }
  .case > .parts > .left {
    width: 100%;
  }
  .case > .parts > .right {
    width: 100%;
  }
}
